.DS_Store
_tmp_
.settings
target
.classpath
.project
test-images
*.log.*
*.log
.idea
TestController.java
ApplicationConfiguration.java
AsyncConfiguration.java
image-service/src/main/java/ws/slink/test/beans/
image-service/upload
image-downloader/
service/bootstram.yml
rabbitmq/.erlang.cookie
rabbitmq/mnesia
rabbitmq/schema
rabbitmq/config

